*.log
.DS_Store
.gitignore
.trunk
.tool-versions
bun.lockb
package-lock.json
__pycache__
node_modules
obj
temp
dist
bin
# Miscellaneous
*.class
*.log
*.pyc
*.swp
*.dll
*.pdb
*.apk

.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/
Thumbs.db

# Android Studio will place build artifacts here
android
ios
.bundle
data/sqlite
