*.log
.DS_Store
.gitignore
.trunk
.tool-versions
bun.lockb
package-lock.json
__pycache__
node_modules
obj
temp
dist
bin
.atom
.buildlog
.history
.svn
.aider.ignore
migrate_working_dir
Thumbs.db
# Miscellaneous
*.class
*.log
*.pyc
*.swp
*.dll
*.pdb
*.apk

# Android Studio will place build artifacts here
android
ios
.bundle
data/sqlite

*.iml
.gradle
.idea
build
captures
.externalNativeBuild
.cxx
local.properties
data/shelf.csv
data/sample.json
